body {
  background: #f9f9f9;
  color: #40a8de;
}

header {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

header h1 {
  text-shadow: #CCC 1px 0 1px;
}

main {
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.comments-container {
  max-width: 700px;
  width: 700px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
